/* reset */
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PretendardJP-Bold';
  src: url("../font/PretendardJP-Bold.otf") format('opentype');
}

@font-face {
  font-family: 'PretendardJP-ExtraBold';
  src: url('../font/PretendardJP-ExtraBold.otf') format('opentype');
}

@font-face {
  font-family: 'PretendardJP-Medium';
  src: url('../font/PretendardJP-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'PretendardJP-Regular';
  src: url('../font/PretendardJP-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'PretendardJP-SemiBold';
  src: url('../font/PretendardJP-SemiBold.otf') format('opentype');
}

@font-face {
  font-family: 'GenShinGothic-Heavy';
  src: url('../font/GenShinGothic-Heavy.ttf') format('truetype');
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
}

body,
a,
input,
button,
input::placeholder,
select,
option {
  font-family: 'PretendardJP-Regular';
  color: #4d4d4d;
}




a {
  text-decoration: none;
  color: inherit
}

ul,
ol,
li {
  list-style: none;
}